<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="nav-icon bi bi-speedometer2"></i> Dashboard
    </NavLink>
    <NavLink class="nav-link" href="calendar">
        <i class="nav-icon bi bi-calendar3"></i> Kalendarz
    </NavLink>
    <NavLink class="nav-link" href="clients">
        <i class="nav-icon bi bi-person-fill"></i> Klienci
    </NavLink>
    <NavLink class="nav-link" href="services">
        <i class="nav-icon bi bi-scissors"></i> Usługi
    </NavLink>
    <NavLink class="nav-link" href="appointments">
        <i class="nav-icon bi bi-calendar-check"></i> Wizyty
    </NavLink>
    <NavLink class="nav-link" href="vouchery">
        <i class="nav-icon bi bi-ticket-perforated-fill"></i> Vouchery
    </NavLink>
    <AuthorizeView Roles="Admin">
        <NavLink class="nav-link" href="karnety">
            <i class="nav-icon bi bi-card-checklist"></i> Karnety
        </NavLink>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <NavLink class="nav-link" href="users">
            <i class="nav-icon bi bi-people-fill"></i> Użytkownicy
        </NavLink>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <NavLink class="nav-link" href="settings">
            <i class="nav-icon bi bi-gear-fill"></i> Ustawienia
        </NavLink>
    </AuthorizeView>
</nav>
